In [1]:
import os
import pandas as pd
from tqdm import tqdm

In [2]:
base = os.path.join(os.getcwd(), 'datav2')

train_load_path = os.path.join(base, 'train')
val_load_path = os.path.join(base, 'val')

train_save_path = os.path.join(base, 'train_labels.txt')
val_save_path = os.path.join(base, 'val_labels.txt')

biggers = ['P9847', 'P11054', 'P5203', 'P3536', 'P6637', 'P5789']

In [3]:
# Task2
def get_bbox(loc):
    x = [loc[0], loc[2], loc[4], loc[6]]
    y = [loc[1], loc[3], loc[5], loc[7]]
    
    return min(x), min(y), max(x), max(y)

In [4]:
def get_labeltxt(path):
    label_path = os.path.join(path, 'labelTxt')
    data = {
        'path': [],
        'x1': [],
        'y1': [],
        'x2': [],
        'y2': [],
        'class': [],
    }

    for file_name in tqdm(os.listdir(label_path)):
        if file_name[:-4] in biggers:
            continue
        
        file = os.path.join(label_path, file_name)
        image_path = os.path.join(path, 'images', file_name[:-4] + '.png')

        with open(file, 'r') as f:
            for line in f.readlines()[2:]:
                loc = [float(i) for i in line.split(' ')[:-2]]
                x1, y1, x2, y2 = get_bbox(loc)
                clss = line.split(' ')[-2]

                data['path'].append(image_path)
                data['x1'].append(x1)
                data['y1'].append(y1)
                data['x2'].append(x2)
                data['y2'].append(y2)
                data['class'].append(clss)
                
    return data

---

In [5]:
data = get_labeltxt(train_load_path)

pd_data = pd.DataFrame(data, columns=['path', 'x1','y1','x2','y2','class'])
pd_data.to_csv(train_save_path, header=False, index=False)

display(pd_data.head())

100%|█████████████████████████████████████████████████████████████████████████████| 1830/1830 [00:02<00:00, 801.75it/s]

,path,x1,y1,x2,y2,class
0,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,2238.0,1791.0,2254.0,1813.0,small-vehicle
1,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,1462.0,2131.0,1472.0,2145.0,small-vehicle
2,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,1122.0,1607.0,1142.0,1620.0,small-vehicle
3,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,146.0,1860.0,164.0,1871.0,small-vehicle
4,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,211.0,1815.0,231.0,1823.0,small-vehicle

---

In [6]:
data = get_labeltxt(val_load_path)

pd_data = pd.DataFrame(data, columns=['path', 'x1','y1','x2','y2','class'])
pd_data.to_csv(val_save_path, header=False, index=False)

display(pd_data.head())

100%|███████████████████████████████████████████████████████████████████████████████| 593/593 [00:00<00:00, 881.66it/s]

,path,x1,y1,x2,y2,class
0,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,921.0,874.0,940.0,913.0,small-vehicle
1,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,638.0,935.0,694.0,962.0,large-vehicle
2,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,488.0,493.0,548.0,519.0,large-vehicle
3,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,477.0,464.0,536.0,489.0,large-vehicle
4,C:\Users\ipsl\Desktop\Faster-RCNN-for-Dota\dat...,643.0,205.0,683.0,309.0,large-vehicle

---